.container-users {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  max-width: 200px;
  margin: 0px auto;
}

.user-item {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #ffffff;
}

.user-item:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
.user-item h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}
